# Credit Card Fraud Detection::

Download dataset from this link:

https://www.kaggle.com/mlg-ulb/creditcardfraud

# Description about dataset::

The datasets contains transactions made by credit cards in September 2013 by european cardholders.
This dataset presents transactions that occurred in two days, where we have 492 frauds out of 284,807 transactions. The dataset is highly unbalanced, the positive class (frauds) account for 0.172% of all transactions.

It contains only numerical input variables which are the result of a PCA transformation. Unfortunately, due to confidentiality issues, we cannot provide the original features and more background information about the data. Features V1, V2, â€¦ V28 are the principal components obtained with PCA, the only features which have not been transformed with PCA are 'Time' and 'Amount'. Feature 'Time' contains the seconds elapsed between each transaction and the first transaction in the dataset. The feature 'Amount' is the transaction Amount, this feature can be used for example-dependant cost-senstive learning. 


### Feature 'Class' is the response variable and it takes value 1 in case of fraud and 0 otherwise.

# WORKFLOW :

1.Load Data

2.Check Missing Values ( If Exist ; Fill each record with mean of its feature )

3.Standardized the Input Variables. 

4.Split into 50% Training(Samples,Labels) , 30% Test(Samples,Labels) and 20% Validation Data(Samples,Labels).

5.Model : input Layer (No. of features ), 3 hidden layers including 10,8,6 unit & Output Layer with activation function relu/tanh (check by experiment).

6.Compilation Step (Note : Its a Binary problem , select loss , metrics according to it)

7.Train the Model with Epochs (100).

8.If the model gets overfit tune your model by changing the units , No. of layers , epochs , add dropout layer or add Regularizer according to the need .

9.Prediction should be > 92%
10.Evaluation Step
11Prediction

# Task::

## Identify fraudulent credit card transactions.

In [70]:
import pandas as pd
import numpy as np
import tensorflow as tf

# loading the data

In [71]:
df = pd.read_csv ('./creditcard.csv')

In [72]:
df.shape

(284807, 31)

# balancing the data

In [73]:
non_fraud = df[df['Class']== 0]
fraud = df[df['Class']== 1]

In [74]:
non_fraud = non_fraud.sample(2*fraud.shape[0])

In [75]:
dataset = fraud.append(non_fraud, ignore_index=True)

# shuffline the dataset

In [76]:
from sklearn.utils import shuffle
dataset = shuffle(dataset)
dataset.reset_index(inplace=True, drop=True)

# splitting training and testing datasets

In [77]:
train_dataset = dataset[(dataset.index<=np.percentile(dataset.index, 70))]

In [78]:
test_dataset = dataset[(dataset.index>np.percentile(dataset.index, 70))]

In [79]:
# training data and labels

x_train = train_dataset.drop(columns='Class')
y_train = train_dataset.loc[:,'Class']

# testing data and labels 

x_test = test_dataset.drop(columns='Class')
y_test = test_dataset.loc[:,'Class']

In [80]:
x_train

          Time        V1        V2  ...       V27       V28   Amount
0      85576.0 -2.207631  3.259076  ...  1.087585  0.373834   240.77
1      99426.0 -1.159388 -1.380654  ...  0.347188  0.004683    11.75
2      73835.0 -0.173831 -2.647841  ... -0.207933  0.132175   774.00
3      62467.0 -5.344665 -0.285760  ...  1.520613 -1.115937  1402.16
4      11581.0  1.068421 -0.330169  ... -0.072743 -0.018138    40.00
...        ...       ...       ...  ...       ...       ...      ...
1028   64585.0  1.080433  0.962831  ...  0.027043  0.063238     0.00
1029  170616.0  0.153969  0.167311  ...  0.095332  0.014643     5.00
1030  161826.0 -0.755939  1.670305  ... -0.173878  0.082658    29.74
1031   78325.0 -1.229393  0.246125  ... -0.129202 -0.223850   289.50
1032   34684.0 -2.439237  2.591458  ... -0.268649 -0.743713   125.30

[1033 rows x 30 columns]

# normalizing the data

In [81]:
# taking the mean and std of data

mean_data = x_train.mean(axis=0)
std_data = x_train.std(axis=0)

# applying mean and std on training data

x_train-= mean_data
x_train /= std_data

# applying mean and std on testing data
x_test -= mean_data
x_test /= std_data


# # taking the mean and std of labels
# mean_labels = y_train.mean(axis=0)
# std_labels  = y_train.std(axis=0)

# # applying mean and std on training, validation and testing labels
# y_train -= mean_labels
# y_train /= std_labels

# y_test -= mean_labels
# y_test /= std_labels

# converting to np array

In [82]:
train_data = np.array(x_train.iloc[:])
test_data = np.array(x_test.iloc[:])

train_labels = np.array(y_train.astype('float32'))
test_labels = np.array(y_test.astype('float32'))

In [84]:
from keras import models
from keras import layers
def build_model():
  model = models.Sequential()
  model.add(layers.Dense(20, activation='relu', input_shape=(train_data.shape[1],)))
  model.add(layers.Dense(10, activation='relu'))
  model.add(layers.Dense(8, activation='relu'))
  model.add(layers.Dense(1, activation='sigmoid'))
  model.compile(optimizer='rmsprop',loss='binary_crossentropy',metrics=['accuracy'])
  return model

In [85]:
build_model()

In [86]:
model = build_model()

In [87]:
model.fit(train_data, train_labels, epochs=20, validation_split=0.28)

Epoch 1/20
24/24 [==============================] - 1s 12ms/step - loss: 0.6622 - accuracy: 0.5841 - val_loss: 0.5518 - val_accuracy: 0.8724
Epoch 2/20
24/24 [==============================] - 0s 3ms/step - loss: 0.5181 - accuracy: 0.9049 - val_loss: 0.4574 - val_accuracy: 0.9310
Epoch 3/20
24/24 [==============================] - 0s 3ms/step - loss: 0.4284 - accuracy: 0.9189 - val_loss: 0.3696 - val_accuracy: 0.9379
Epoch 4/20
24/24 [==============================] - 0s 3ms/step - loss: 0.3358 - accuracy: 0.9415 - val_loss: 0.3005 - val_accuracy: 0.9379
Epoch 5/20
24/24 [==============================] - 0s 3ms/step - loss: 0.2501 - accuracy: 0.9512 - val_loss: 0.2557 - val_accuracy: 0.9379
Epoch 6/20
24/24 [==============================] - 0s 5ms/step - loss: 0.2218 - accuracy: 0.9370 - val_loss: 0.2382 - val_accuracy: 0.9379
Epoch 7/20
24/24 [==============================] - 0s 4ms/step - loss: 0.1842 - accuracy: 0.9408 - val_loss: 0.2436 - val_accuracy: 0.9379
Epoch 8/20
24/24 [==============================] - 0s 4ms/step - loss: 0.1821 - accuracy: 0.9387 - val_loss: 0.2459 - val_accuracy: 0.9414
Epoch 9/20
24/24 [==============================] - 0s 3ms/step - loss: 0.1434 - accuracy: 0.9567 - val_loss: 0.2511 - val_accuracy: 0.9414
Epoch 10/20
24/24 [==============================] - 0s 4ms/step - loss: 0.1876 - accuracy: 0.9379 - val_loss: 0.2569 - val_accuracy: 0.9414
Epoch 11/20
24/24 [==============================] - 0s 3ms/step - loss: 0.1371 - accuracy: 0.9591 - val_loss: 0.2617 - val_accuracy: 0.9483
Epoch 12/20
24/24 [==============================] - 0s 3ms/step - loss: 0.1314 - accuracy: 0.9528 - val_loss: 0.2655 - val_accuracy: 0.9483
Epoch 13/20
24/24 [==============================] - 0s 4ms/step - loss: 0.1114 - accuracy: 0.9622 - val_loss: 0.2706 - val_accuracy: 0.9483
Epoch 14/20
24/24 [==============================] - 0s 3ms/step - loss: 0.1164 - accuracy: 0.9665 - val_loss: 0.2763 - val_accuracy: 0.9483
Epoch 15/20
24/24 [==============================] - 0s 4ms/step - loss: 0.1037 - accuracy: 0.9679 - val_loss: 0.2841 - val_accuracy: 0.9517
Epoch 16/20
24/24 [==============================] - 0s 4ms/step - loss: 0.1288 - accuracy: 0.9615 - val_loss: 0.2930 - val_accuracy: 0.9448
Epoch 17/20
24/24 [==============================] - 0s 3ms/step - loss: 0.1239 - accuracy: 0.9613 - val_loss: 0.2951 - val_accuracy: 0.9483
Epoch 18/20
24/24 [==============================] - 0s 3ms/step - loss: 0.0984 - accuracy: 0.9679 - val_loss: 0.2995 - val_accuracy: 0.9517
Epoch 19/20
24/24 [==============================] - 0s 4ms/step - loss: 0.1172 - accuracy: 0.9645 - val_loss: 0.3044 - val_accuracy: 0.9483
Epoch 20/20
24/24 [==============================] - 0s 4ms/step - loss: 0.1053 - accuracy: 0.9684 - val_loss: 0.3041 - val_accuracy: 0.9517

In [88]:
results = model.evaluate(test_data, test_labels)

14/14 [==============================] - 0s 1ms/step - loss: 0.1816 - accuracy: 0.9594

0.9593679308891296

In [91]:
test_labels[0]

0.0

In [97]:
test_data.shape

(443, 30)

In [100]:
prediction = model.predict(test_data[0].reshape(1, 30))

In [103]:
prediction.astype('int8')

array([[0]], dtype=int8)